@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --blue: #2A324B;
    --lightblue: #58699D; 
    --lightgrey: #E1E5EE;
    --white: #fff;

    --font: 'Roboto';
}

body {
    background-color: var(--lightgrey);
    font-family: var(--font);
}

#container {
    width: 1050px;
    margin: 120px auto;
    min-height: 350px;
    background-color: var(--white);
}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 300px;
}

nav {
    background-color: var(--blue);
}

nav ul {
    list-style-type: none;
    display: flex; 
}

nav a {
    display: inline-block;
    padding: 1rem; 
    color: var(--white);
    text-decoration: none;
    box-sizing:  border-box;
    height: 70px;
    width: 170px;
    margin-right: 20px;
    background-color: var(---blue); 
}

nav a.selected {
    color: var(--blue); 
    background-color: var(--white); 
}

nav a:hover {
    background-color: var(--white);
    color: var(--blue);
}

#category-info-container {
    position: relative;
    top: 0%; 
    left: 50px;
    width: 1000px;
    background-color: #fff; 
}

#category-info {
    width: 850px; 
    padding: 10px; 
}
